@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Inconsolata";
}

#index-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

// ------- HEADER ---------

#header-panels {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.explorer {
  width: 280px;
  background: #05021B;
  align-self: center; // y axis align center
  //justify-items: center; // x axis align center
}


.top-panel {
  flex: 1;
  background: #05021B;
  z-index: 1;
  overflow: hidden; 
  align-self: center; // y axis align center
}


// ------- BODY ---------

#body-panels {
  display: flex;
  position: relative;
  overflow: hidden;
  flex: 1;
  width: 100%;

}

.sidebar-panel {
  width: 280px;
  background: #05021B;
  z-index: 3;
  justify-items: center; // x axis align center

}

.subsidebar-panel {
  overflow-y: scroll;
  direction: rtl;
  text-align: left;

  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.subsidebar-panel::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


.main-panel {
  flex: 1;
  /* padding: 20px; */
  background: #020D21;
  z-index: 1;
  overflow-y: auto;
  padding: 1rem;
}


// ------- BOTTOM ---------

.bottom-panel {
  height: 30px;
  background: #0B062F;
  z-index: 1;


}

// ------- SCROLL BAR ---------
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #05021B; 
}

::-webkit-scrollbar-thumb {
  background-color: #BB387A; 
  border-radius: 6px; 
  border: 3px solid #05021B; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #CBCCE0; 
}
