<head>
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body>
    <div id="index-container">
        <div id="header-panels">
            <div class="explorer">{% include explorer.html %}</div>
            <div class="top-panel">{% include topPanel.html %}</div>
        </div>
        <div id="body-panels">
            <div class="sidebar-panel">{% include sidePanel.html %}</div>
            <div class="main-panel">{% include mainPanel.html %}</div>
        </div>
        <div class="bottom-panel">{% include bottomPanel.html %}</div>
    </div>
</body>
